
ASSIGNMENT 2 COPY/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css
ASSIGNMENT 2 COPY/node_modules/@fortawesome/fontawesome-free/css/brands.min.css
ASSIGNMENT 2 COPY/node_modules/@fortawesome/fontawesome-free/css/brands.css
ASSIGNMENT 2 COPY/node_modules/@fortawesome/fontawesome-free/css/all.min.css
ASSIGNMENT 2 COPY/node_modules/@fortawesome/fontawesome-free/css/all.css
ASSIGNMENT 2 COPY/node_modules/.package-lock.json
ASSIGNMENT 2 COPY/node_modules/.bin/mime.ps1
