<% include('partials/head') %> <!--includes head section from partials-->

<body>
    <%- include('partials/navbar') %> <!--includes navbar from partials-->

    <section id="about">
        <div class="about container">
            <div class="colLeft">
                <div class="aboutImg">
                    <img src="/Content/img/WebandScriptAboutMe.jpeg" alt="Personal Img">
                </div>
            </div>
            <div class="colRight">
                <h1 class="sectionTitle"> <span>About Me</span></h1>
                <article>
                    <h3>Student</h3>
                    <p>2nd year Networking & IT Security student at Ontario Tech University</p>
                    <p>Aspiring to be a Cyber Security Expert</p>
                </article>
                <div class="videoWrapper">
                    <video width="1024" height="768" controls autoplay muted>
                        <source src="/Content/video/AboutMeVideo.mp4" type="video/mp4">
                        <source src="/Content/video/AboutMeVideo.mov" type="video/mov">
                        <source src="/Content/video/AboutMeVideo.ogg" type="video/ogg">
                    </video>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %> <!--includes footer from partial-->
</body>