<% include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

  <p>Welcome to the <%= title%> page</p>
  <script src = "/Scripts/app.js"></script>
  <script src = "/boostrap/dist/js/boostrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

  <%- include('partials/footer') %>

</body>
</html>

 