<% include('partials/head') %> <!--includes head section from partials-->

<body>
    <%- include('partials/navbar') %> <!--includes navbar from partials-->
    
    <section id="contact">
        <div class="contact container">
            <h1 class="sectionTitle"><span>Contact Info</span></h1>
            <div class="contactItems">
                <div class="contactInfo">
                    <form 
                        id="contactForm"
                        action="https://formspree.io/f/mgvewkev" 
                        method="POST">
                    <p>Name: </p>
                    <input
                        type="text"
                        name="name"
                        placeholder="Your Name"
                        required >
                    <p>Email: </p>
                    <input
                        type="email"
                        name="email"
                        placeholder="Your Email"
                        required >
                    <p>Subject: </p>
                    <input
                        type="text"
                        name="subjects"
                        placeholder="Subject"
                        required >
                    <p>Message: </p>
                    <textarea
                        style="height: 130px;"
                        name="message"
                        placeholder="Your Message"
                        required></textarea>
                    <div class="btn">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                    </form> <!--action attribute specifies url where form data will be sent once submitted, in this case url will then sent data to me-->
                </div>
            </div>
        </div>
    </section>
    
    <%- include('partials/footer') %> <!--includes footer from partial-->

</body>