<% include('partials/head') %> <!--includes head section from partials-->

<body>
    <%- include('partials/navbar') %> <!--includes navbar from partials-->
    
     <section id="home">
        <div class="home container">
            <div class="Intro">
                <h1><span>Hello, </span></h1>
                <h1><span>My name is </span></h1>
                <h1><span>Daryn King </span></h1>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %> <!--includes footer from partial-->

</body>