* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 11px;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.container {

}
body {
    background-color: blanchedalmond;
}